.landing{
    background-image: url('../../assets/img/landing.jpg') ;
    /* background-color: rgb(14, 94, 111); */
    background-size: cover;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;   
    
    /* display: flex; */
    /* flex-direction: row wrap;
    justify-content: center;
    align-items: center; */
}
.button {
  background-color: rgba(248, 250, 245, 0.26); 
  color: rgb(255, 255, 255);
 
  border-radius: 1em;
  margin-left: auto;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease; 
  border:rgb(248, 245, 245)
}

.button:hover {
  background-color: rgb(242, 222, 186); 
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(248, 245, 245);
}
